<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="diary">
	<select id="seq" resultType="Integer">
		SELECT album_seq.NEXTVAL FROM dual
	</select>
	
	<insert id="insertDiary" parameterType="com.aboutrip.app.diary.Diary">
		INSERT INTO diary(diaryNum, diaryType, diaryTitle, diaryContent, diaryCreated, userNum)
			VALUES (#{diaryNum}, #{diaryType}, #{diaryTitle},  
					#{diaryContent}, SYSDATE, ${userNum})
	</insert>
	
	<sql id="where-list">
		<if test="condition=='all' ">
			( INSTR(subject, #{keyword}) &gt; 0
				OR INSTR(content, #{keyword}) &gt; 0 )
		</if>
		<if test="condition=='hashName' ">
			INSTR(${hashName}, #{keyword}) &gt; 0
		</if>
	</sql>
		
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(diaryNum),0) FROM diary
		<where>
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/>
			</if>
		</where> 
	</select>
	
	<select id="listDiary" parameterType="map" resultType="com.aboutrip.app.diary.Diary">
		SELECT d.diaryNum, d.userNum, nickName, diaryTitle, saveImgName
		FROM diary d
		JOIN member1 m ON d.userNum = m.userNum
		LEFT OUTER JOIN (
			SELECT diaryImgNum, diaryNum, saveImgName FROM ( 
				SELECT diaryImgNum, diaryNum, saveImgName, 
					ROW_NUMBER() OVER(PARTITION BY diaryNum ORDER BY diaryImgNum ASC) rank
				FROM diaryImg
			) WHERE rank = 1
		) i ON d.diaryNum = i.diaryNum
		<where>
			<if test="keyword != null and keyword != ''">
				<include refid="where-list"/>
			</if>
		</where>
		ORDER BY diaryNum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
	<select id="readDiary" parameterType="Integer" resultType="com.aboutrip.app.diary.Diary">

		SELECT d.diaryNum, d,userId, nickName, diaryTitle, diaryContent, diaryCreated, 
			NVL(diaryLikeCount, 0) diaryLikeCount
		FROM diary d
		JOIN member1 m ON d.userId = m.userId
		LEFT OUTER JOIN (
			SELECT diaryNum, COUNT(*) diaryLikeCount FROM diaryLike GROUP BY diaryNum
		) dl ON d.diaryNum = dl.diaryNum
		WHERE d.diaryNum=#{diaryNum}

	</select>
	
	<!-- 조인으로 다시 -->
	<update id="updateDiary" parameterType="com.aboutrip.app.diary.Diary">
		UPDATE diary SET diaryTitle=#{diaryTitle}, diaryContent=#{diaryContent}, 
			saveImgName=#{saveImgName, jdbcType=VARCHAR} 
		WHERE diaryNum=#{diaryNum}
	</update>
	
	<delete id="deleteDiary" parameterType="Integer">
		DELETE FROM diary WHERE diaryNum=#{diaryNum}
	</delete>
	
	<!-- 이미지파일 -->
	<insert id="insertImg" parameterType="com.aboutrip.app.diary.Diary">
		INSERT INTO diaryImg(diaryImgNum, diaryNum, saveImgName) VALUES
				(diaryImg_seq.NEXTVAL, #{diaryNum}, #{saveImgName})
	</insert>
	
	<select id="listImg" parameterType="Integer" resultType="com.aboutrip.app.diary.Diary">
		SELECT diaryImgNum, diaryNum, saveImgName
		FROM diaryImg
		WHERE diaryNum=#{diaryNum}
	</select>
	
	<select id="readImg" parameterType="Integer" resultType="com.aboutrip.app.diary.Diary">
		SELECT diaryImgNum, diaryNum, saveImgName
		FROM diaryImg
	    WHERE diaryImgNum=#{diaryImgNum}      
	</select>
	
	<delete id="deleteImg" parameterType="map">
		DELETE FROM diaryImg WHERE ${field} = #{diaryNum}
	</delete>
	
	<!-- 게시글 좋아요 추가 -->
	<insert id="insertDiaryLike" parameterType="map">
		INSERT INTO diaryLike(diaryNum, userId) VALUES (#{diaryNum}, #{userId})
	</insert>
	
	<!-- 게시글 좋아요 개수 -->
	<select id="diaryLikeCount" parameterType="Integer" resultType="Integer">
		SELECT COUNT(*) FROM diaryLike WHERE diaryNum = #{diaryNum}
	</select>
	
	<!-- 유저가 좋아요를 눌렀는지 유무 -->
	<select id="diaryLikeUserCount" parameterType="map" resultType="Integer">
		SELECT COUNT(*) FROM diaryLike WHERE diaryNum=#{diaryNum} AND userId=#{userId}
	</select>
	
	<!-- 좋아요 취소 -->
	<delete id="diaryLikeDelete" parameterType="map">
		DELETE FROM diaryLike WHERE diaryNum=#{diaryNum} AND userId=#{userId}
	</delete>
	
</mapper>